/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 22, 2025, 11:05:41 PM
    Author     : nrzai
*/

/* LOGIN PAGE STYLES */
body.login-page {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black; /* emerald green */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login h1{
    color:#004d40;
}

.login-wrapper {
    text-align: center;
    width: 100%;
}

.site-title {
    font-size: 40px;
    color: white;
    margin-bottom: 40px;
}

.login-container {
    max-width: 400px;
    margin: auto;
    padding: 40px;
    background-color: #f2f2f2;  /* light grey for the box */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.login-container h2 {
    color: #004d40;
    margin-bottom: 30px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-form label {
    text-align: left;
    font-weight: bold;
    color: #333;
}

.login-form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-form button {
    background-color: #004d40;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: black;
}

